.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 303px;
  margin: 50px auto;
  background-color: var(--color-card);
}

.card-img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  object-position: 40% 60%;
}

.cover-img {
  width: 100%;
}

.banner-img {
  width: 200px;
}

.card-heading,
.card-text {
  padding: 0 15px;
}

.card-text {
  font-size: 1.3em;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.card-button {
  background-color: var(--color-primary);
  color: var(--color-text);
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  width: 120px;
}
