.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px auto;
  background-color: var(--color-card);
  border-radius: 8px;
  box-shadow: 16px 24px 4px 0 rgba(0, 0, 0, 0.25);
}

.card-img {
  width: 100%;
  height: 210px;
  object-fit: cover;
  object-position: top;
  border-radius: 8px 8px 0 0;
}

.cover-img {
  width: 100%;
}

.banner-img {
  width: 200px;
}

.card-heading,
.card-text {
  padding: 5px 15px;
}

.card-text {
  font-size: 1.3em;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  margin-top: 30px;
}

.card-button {
  background-color: var(--color-primary);
  color: var(--color-text);
  text-align: center;
  padding: 10px 20px;
  border-radius: 50px;
  width: 120px;
  font-weight: bold;
  box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.25);
}

.card-content {
  margin: 15px 5px 40px 5px;
}

.card-heading {
  font-family: "Space Mono", sans-serif;
}

@media screen and (min-width: 800px) {
  .card {
    flex-direction: row-reverse;
    width: auto;
    margin: 40px 40px;
  }

  .card:nth-child(odd) {
    flex-direction: row;
  }

  .card-img {
    height: 100%;
    width: 400px;
  }
}
