input,
.label,
textarea {
  display: block;
  width: 100%;
  font-family: "Sansation", sans-serif;
  border-radius: 12px;
}

#message {
  display: block;
  height: 200px;
  padding-top: 20px;
}

label {
  font-weight: bold;
}

input {
  min-height: 60px;
}

section h2 {
  padding: 20px 10px;
  font-size: 26px;
}

input,
textarea {
  border: 2.5px solid var(--color-text);
  font-size: 1em;
  padding-left: 20px;
}

.submit_cta {
  display: block;
  width: 120px;
  height: 40px;
  margin: 40px auto 0 auto;
  border-radius: 50px;
  font-family: "Sansation", sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: none;
}

.card {
  padding: 20px;
}

@media screen and (min-width: 800px) {
  .card {
    display: block;
    padding: 40px;
  }

  section h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 40px;
  }

  form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 20px;
  }

  .card-content {
    margin: 0;
  }

  .fname {
    grid-area: 1/1/2/2;
  }

  .email {
    grid-area: 2/1/3/2;
  }

  .subject {
    grid-area: 3/1/4/2;
  }

  .message {
    grid-area: 1/2/4/3;
  }

  #message {
    height: 90%;
  }

  .submit_cta {
    grid-area: 4/1/5/3;
    font-size: 30px;
    width: 200px;
    height: 60px;
    margin-top: 0;
    align-self: center;
  }
}
