@font-face {
  font-family: "Saira Stencil One";
  src: url("../../assets/fonts/SairaStencilOne-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Sansation";
  src: url("../../assets/fonts/Sansation-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Sansation";
  src: url("../../assets/fonts/Sansation-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Sansation";
  src: url("../../assets/fonts/Sansation-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Sansation";
  src: url("../../assets/fonts/Sansation-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Sansation";
  src: url("../../assets/fonts/Sansation-Light.ttf") format("truetype");
  font-weight: lighter;
}

@font-face {
  font-family: "Sansation";
  src: url("../../assets/fonts/Sansation-LightItalic.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: "Silkscreen";
  src: url("../../assets/fonts/Silkscreen-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Silkscreen";
  src: url("../../assets/fonts/Silkscreen-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Space Mono";
  src: url("../../assets/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("../../assets/fonts/SpaceMono-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Space Mono";
  src: url("../../assets/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Space Mono";
  src: url("../../assets/fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
