header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

header li {
  display: inline-block;
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
