@import url("./variables.css");

@import url("./reset.css");

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-image: url(../../assets/background/backrgound2.png);
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  margin: 0;
}

header {
  background-color: var(--color-primary);
}

header nav {
  display: flex;
  align-items: center;
  height: 150px;
  justify-content: space-evenly;
}

header .img_container {
  height: 85px;
}

header ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

header li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  padding: 10px 40px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  margin: 20px 0;
}

footer .img_container {
  display: block;
  height: 70px;
}

.img_container img {
  height: 100%;
}
