header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header li {
  display: inline-block;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
