@import url("./variables.css");

@import url("./reset.css");

@import url("./fonts.css");

@import url("./card.css");

@import url("./banner.css");

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-secondary);
  background-image: url(../../assets/background/background-animation-oval.svg);
  background-size: cover;
  background-position: bottom right;
  background-repeat: no-repeat;
  margin: 0;
  font-family: "Sansation", sans-serif;
}

header {
  font-family: "Silkscreen", sans-serif;
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 2px 3px 2px 2px rgba(0, 0, 0, 0.25);
}

.img_container img {
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  height: 150px;
  justify-content: space-evenly;
}

#menu-checkbox {
  display: none;
}

header nav {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

header ul {
  padding: 0;
}

header nav {
  position: absolute;
  background: var(--color-primary);
  top: 150px;
  left: 0;
  padding: 10px 20px;
}

.hamburger {
  display: inline-block;
  height: 30px;
}

.logo-mobile {
  display: block;
  height: 60px;
}

.logo-desktop {
  display: none;
}

footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 32px;
  padding: 20px 0;
  background-color: var(--color-primary);
}

footer .logo {
  display: block;
  height: 60px;
}

footer ul {
  padding: 0;
}

footer h2 {
  font-family: "Silkscreen", sans-serif;
  font-style: bold;
}

li {
  margin: 20px 0;
}

footer nav {
  min-width: 200px;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

.underline-animation {
  display: inline-block;
  position: relative;
}

.underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-text);
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

@media screen and (min-width: 800px) {
  header {
    display: block;
  }

  header nav {
    display: flex;
    position: static;
    align-items: center;
    height: 150px;
    justify-content: space-evenly;
  }

  .logo-desktop {
    display: block;
  }

  header .img_container {
    height: 85px;
  }

  .hamburger {
    display: none;
  }

  header ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
  }

  header li {
    display: inline-block;
  }

  a {
    text-decoration: none;
    color: var(--color-text);
  }

  .logo-mobile {
    display: none;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
    background-color: var(--color-primary);
    padding: 10px 40px;
  }

  footer .img_container {
    display: block;
    height: 70px;
  }
}
